body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #f6f6f6;
    margin:0;
    font-size:16px;
    line-height: 0px;
    font-weight: 500;
}
.wrapper{
    border: none;
}
.line{
    padding: 0 5vw;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    border:none;
    border-bottom: 1px solid grey;
}
p{
    line-height: 3em;
}
.titlecell{
    width: 45vw;
    height: 3em;
}
.titlebuttoncell{
    width: 30vw;
    height: 3em;
}
.cell{
    width: 15vw;
    height: 3em;
}
.titlecell p{
    font-size: 24px;
    line-height: 2em;
}
img{
    width: 3em;
    height: 3em;
}
.button{
    float: right;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: #4CAF50;
    font-size:16px;
    width:10vw;
    height: 3em;
    margin:0 2vw;
}
.button span {
    color: white;
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: padding 0.5s;
}
.button span:after {
    color: white;
    content: '»';
    position: absolute;
    opacity: 0;
    top: -5%;
    right: -10%;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 10%;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}